In [24]:
filename = "/Users/quentinleroy/Desktop/alice.txt"
text = sc.textFile(filename, use_unicode=False)
text.count()

3600

In [44]:
word = words.flatMap(lambda line: line.split()).map(lambda w: (w,1)).reduceByKey(add).map(lambda t: (t[1],t[0])).sortByKey(False).take(10)
word

[(1507, 'the'),
 (714, 'and'),
 (703, 'to'),
 (606, 'a'),
 (490, 'of'),
 (484, 'she'),
 (416, 'said'),
 (346, 'it'),
 (345, 'in'),
 (328, 'was')]

There are two type of functions in Spark: **transformation** and **action**. All functions `map`, `flatMap`, `reduceByKey`, `sortByKey`, `groupBy`, `groupByKey?`, `mapValues?` are transformation functions. They are not executed right away when called. Indeed, Spark is lazy, so nothing will get executed unless you call some actions such as count, take, collect, *first?*, *takeOrdered?...

In [56]:
words.first()

"Alice's Adventures in Wonderland"

In [64]:
words.flatMap(lambda line:line.split()).filter(lambda w:len(w)>10).take(10)

['Rabbit-Hole',
 'conversations',
 "conversation?'",
 'considering',
 'daisy-chain',
 'afterwards,',
 'waistcoat-pocket,',
 'fortunately',
 'rabbit-hole',
 'considering']

In [63]:
type(words.cache())

pyspark.rdd.RDD

In [66]:
words.groupBy?

In [80]:
rdd = sc.parallelize([1,1,2,3,5,8])
result = rdd.groupBy(lambda x: x%2).collect()
result

[(0, <pyspark.resultiterable.ResultIterable at 0x110f87290>),
 (1, <pyspark.resultiterable.ResultIterable at 0x110f87f10>)]

# Spark SQL

In [1]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *

filename = "/Users/quentinleroy/tmp/kaggle/titanic/data/train.csv"

sqlContext = SQLContext(sc)
text = sc.textFile(filename, use_unicode=False)
header = text.first()

In [92]:
header = text.first()
data = text.filter(lambda line: line!=header)
data_schema = StructType([\
                         StructField("PassengerId", IntegerType(), True)\
                         StructField("Survived", IntegerType(), True)\
                         StructField("Pclass", IntegerType(), True)\
                         StructField("Name", StringType(), True)\
                         StructField("Sex", StringType(), True)\
                         StructField("Age", IntegerType(), True)
                         StructField("SibSp", IntegerType(), True)\
                         StructField("Parch", StringType(), True)
                         StructField("Ticket", StringType(), True)
                         StructField("Fare", FloatType(), True)\
                         StructField("Cabin", StringType(), True)\
                         StructField("Embarked", StringType(), True)])

In [96]:
header

'PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked'

In [100]:
data.take(2)

['1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S',
 '2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C']

In [101]:
StructType?

In [2]:
filename = "/Users/quentinleroy/tmp/kaggle/titanic/data/train.csv"
df = sqlContext.read.load(filename, 
                          format="com.databricks.spark.csv", 
                          header="true", 
                          inferSchema="true", 
                          nullValue="NA")